name: Publish
on:
  push:
    branches: ['app-release']
 
    
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        poetry-version: ["1.2.2", "1.7.1"]
        os: [ubuntu-22.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
	uses: abatilo/actions-poetry@v3.0.0	
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Publish
        run: poetry run build

           
